.products{
    color:black;
    text-align: center;
    height: 400px;
    border:1px solid black;
}
.water-units{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

}
.unit{
    border: 1px solid black;
    width:200px; 
    height:200px;
}
