.products{
    color:black;
    text-align: center;
    height: 450px;
    
}
.water-units{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

}
.unit{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    width:300px; 
    height:300px;
    border-radius: 5px;
    background-color: #aaaaaa;
}
.image{
    width:150px;
    height:200px;
}
.product-text {
    font-size: 30px;
    letter-spacing: 3px;
    text-align: center;
}
.platinum{
    margin-top: 30px;
}