.form {
  color: black;
  text-align: center;
  height: 600px;
  border: 1px solid black;
}
.form-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  height: 500px;
  width: 500px;
}
.user-result {
  border: 1px solid black;
  height: 500px;
  width: 500px;
}
.drop-down {
  width: 150px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 20px;
  background-color: black;
  color: white;
  text-align: center;
}
