.form-text {
  text-align: center;
  font-size: 15px;
  letter-spacing: 3px;
  width: 80%;
}
.form-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  letter-spacing: 3px;
}
.form {
  color: black;
  text-align: center;
}
.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 380px;
  width: 75%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;
  background-color: black;
  margin: 30px;
}
.drop-down {
  width: 170px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 20px;
  background-color: #245ca6;
  color: white;
  text-align: center;
  margin-top: 30px;
  padding: 5px;
}
.form-logo {
  max-width: 75px;
}

.results-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #245ca6;
  margin-top: 1px;
  padding: 2px;
  width: 100%;
}
.form-results {
  max-width: 25%;
  margin-top: 60px;
}
.form-header {
  color: white;
  letter-spacing: 3px;
}
.product-specifications {
  margin: 0;
  color: white;
  letter-spacing: 3px;
  padding: 10px;
}
.product-name {
  margin: 1px;
  color: white;
  letter-spacing: 3px;
  margin-top: 15px;
}
.user-bar {
  background-color: #245ca6;
  margin-top: 80px;
  padding: 2px;
  width: 85%;
}
.user-text {
  color: white;
  font-size: 15px;
  letter-spacing: 3px;
}
.user-result {
  height: 300px;
  width: 60%;
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 790px) {
  .form-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .form-header {
    margin-top: 50px;
  }
  .product-specifications {
    font-size: 13px;
  }
  .form-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    font-size: 20px;
  }
  .form-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    letter-spacing: 3px;
  }
}
