* {
  box-sizing: border-box;
}
.nav-links {
  font-size: px;
  padding: 0px;
  margin-right: 32px;
  letter-spacing: 3px;
}
.logo {
  margin: 0px;
  margin-top: 5px;
  max-width: 40px;
}
.nav-logo {
  text-align: center;
}
.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  color: white;
}
.nav-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.nav-links {
  margin: 10px 0;
}
.nav-links:hover {
  cursor: pointer;
  color: #245ca6;
}

@media (min-width: 780px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
  }
  .nav-main {
    display: flex;
    flex-direction: row;
    margin: 0px;
  }
  .nav-links {
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 15px;
    letter-spacing: 3px;
    margin: 5px 10px;
  }

  .logo {
    max-width: 40px;
    margin-left: 30px;
  }
}
