.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-main{
    display:flex;
    margin-left:10px;   
}
a{  
    padding:10px 15px;
    text-decoration: none;
    color: white;
}
.nav-links{
    font-size: 20px;
    padding:25px;
    letter-spacing:3px; 
}
.logo{
    max-width: 40px;
    margin-left: 30px;
}



