.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
}
.media-image {
  width: 100%;
  height: auto;
  margin: 1px;
}

.media-title {
  margin-top: 40px;
  width: 50%;
}
.intro-text {
  text-align: center;
  letter-spacing: 3px;
  width: 80%;
}

@media (min-width: 780px) {
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
  }
  .media-image {
    width: 100%;
    height: auto;
    margin: 1px;
  }
  .intro-text {
    font-size: 20px;
    letter-spacing: 3px;
    width: 75%;
    text-align: center;
  }
  .media-title {
    width: 40%;
    margin-top: 50px;
  }
}
