.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
}
.media-image {
  width: 100%;
  height: 450px;
}
.intro-text {
  font-size: 20px;
  letter-spacing: 3px;
  width: 950px;
  text-align: center;
}
.media-title {
  width: 500px;
  margin-top: 50px;
}
