.footer{
    text-align:center;
    color:black;
    height: 200px;
    border:1px solid black;
}
.footer-section{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer-icons{
    display: flex;
    justify-content: space-evenly;
}
i{  
    font-size: 40px;
    
}