.footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 100%;
}
.footer-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 15px;
}
.footer-icons {
  font-size: 15px;
  letter-spacing: 2px;
  color: white;
  text-align: center;
}
.icon {
  font-size: 40px;
}

@media (max-width: 780px) {
  .footer-icons {
    font-size: 12px;
    text-align: center;
    margin-left: 20px;
  }
}

@media (max-width: 600px) {
  .footer-icons {
    font-size: 10px;
    margin: 10px;
    text-align: center;
  }
  .footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
}
