body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@media (max-width: 780px) {
  body {
    overflow-x: hidden;
  }
}

@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
}
